#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# NetBeans
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
public/uploads/1759066504_4678762bebbd835addb5.png
public/uploads/1760861862_9b058c9ed0bfd8ac2713.png
public/uploads/1761894439_af9aebbcb091a0b5cae0.jpg
public/uploads/1761894501_521e9ab9df453e095c36.jpg
public/uploads/1762393572_6b6165d7727875db7a3e.jpg
public/uploads/1762393900_6cadbef11f6baa585d20.jpg
public/uploads/1762394244_5dda14fcb4802f01b668.jpg
public/uploads/1762394366_b3d95e0152e316d42752.jpg
public/uploads/1762394493_38dd17b5e6bdf9363923.jpg
public/uploads/1762698396_6b0ef3152f3ba8ece72d.jpg
public/uploads/1762699393_6745337152619833804f.jpg
public/uploads/1762702396_ab37feb5db95db0b0299.jpg
public/uploads/1762703047_4e6c97d65f662bff25da.jpg
public/uploads/1762703309_090bd33fbb2b0df021f7.jpg
public/uploads/1762703477_8a1844e7cbfe80c81fb4.jpg
public/uploads/1762703691_cb38fd6991a0c9323f27.jpg
public/uploads/1762703842_9dc9f98a82ad90d22804.jpg
public/uploads/1762704185_fa2254f2cc264f480cba.jpg
public/uploads/1762704368_4061c194aefb62d5e30d.jpg
public/uploads/1762704524_8e211166146f6c7f3435.jpg
public/uploads/1762704729_988daffc462cb8bdb90f.jpg
public/uploads/1762704887_01a27bf17e50b95bea0f.jpg
public/uploads/1762705196_54414ee3e41fc5ba9b31.jpg
public/uploads/1762705439_097f9c69501b63b9a38d.jpg
public/uploads/1762705625_8230ed84d5bfe5bf7db2.jpg
public/uploads/1762705880_ef40909d38fc459b92a0.jpg
public/uploads/1762706125_05268272712e0d695bc3.jpg
public/uploads/1762706342_5e9b74c562aa9a1c5cad.jpg
public/uploads/1762706490_6d3ef67751ea0cb8c53e.jpg
public/uploads/1762707234_8b08d6eab46e17590089.jpg
public/uploads/1762707615_3164be479560673ecc02.jpg
public/uploads/1762707858_84dc35f989f246cf9bec.jpg
public/uploads/1762708016_93097d4e6b72355b5d52.jpg
public/uploads/1762708160_2c50bfe3469ecead6c67.jpg
public/uploads/1762708301_999c38faac29609e0632.jpg
public/uploads/1762708480_8156ea5f4d72bece7037.jpg
public/uploads/1762829349_0a1ce92f066258ed1ede.jpg
public/uploads/1762829979_0557f9cfd30e39f1bd86.jpg
